.visit{
  padding: 4% 3%;
}
.visit__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 740px;
  background-image: url(../images/__background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.visit__container:after{
  content: " ";
  background: #000;
  opacity: .8;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.visit__container:hover:after{
  display: block;
}
.visit__content{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
}
.visit__title{
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.visit__paragraph{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 900px){
  .visit{
    padding: 4% 0;
  }
}
@media screen and (max-width: 500px){
  .visit{
    padding: 20% 0;
  }
  .visit__container{
    min-height: 300px;
  }
  .visit__title{
    font-size: 32px;
    line-height: 35px;
  }
  .visit__paragraph{
    font-size: 14px;
    line-height: 16px;
  }
}