.visit{
  margin: 92px 3.1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 740px;
  background-image: url(../images/__background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.visit:after{
  display: block;
  content: " ";
  background: #2A2C2F;
  opacity: 30%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all linear .2s;
}
.visit:hover:after{
  opacity: 80%;
}
.visit__content{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
}
.visit__title{
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.visit__paragraph{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 1279px){
  .visit{
    margin: 88px 0;
    min-height: 750px;
  }
}
@media screen and (max-width: 767px){
  .visit{
    margin: 64px 0;
    min-height: 254px;
  }
  .visit__content{
    gap:16px;
  }
  .visit__title{
    font-size: 32px;
    line-height: 35px;
  }
  .visit__paragraph{
    font-size: 14px;
    line-height: 16px;
  }
}