.visit{
  padding: 92px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 740px;
  background-image: url(../images/__background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 82%;
  position: relative;
}
.visit:after{
  display: block;
  content: " ";
  background: #2A2C2F;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: all linear .2s;
}
.visit:hover:after{
  opacity: 80%;
}
.visit__content{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
}
.visit__title{
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.visit__paragraph{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 1279px){
  .visit{
    padding: 15% 0;
    min-height: 760px;
    background-size: 100% 82%;
  }
}
@media screen and (max-width: 767px){
  .visit{
    padding: 13% 0;
    min-height: 300px;
    background-size: 100% 60%;
  }
  .visit__title{
    font-size: 32px;
    line-height: 35px;
  }
  .visit__paragraph{
    font-size: 14px;
    line-height: 16px;
  }
}